@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


.azeret-mono-first {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Here is started styling to this whole section */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.btn-styling{
    border: 1px solid gray;
    border-radius: 10px;
    width: 244px;
    height: 57px;
}

/* Here start with banner style */

.banner-hero{
    background-image: url("/images/Hero-bg.png");
    background-repeat: no-repeat;
    text-align: center;
}

.main-heading {
    margin-bottom: 24px;
}

.full-para {
    margin-bottom: 32px;
}

.para-font {
    font-family: "Azeret Mono", monospace;
    font-weight: 100;
}

.contact-btn{
    background-color: rgb(13, 19, 33, 100%);
    color: white;
    padding: 21px;
    margin-bottom: 45px;
    border-radius: 10px;
}

/* why web development */

.section-development{
    font-family: "Azeret Mono", monospace;
    padding: 0px 97px;
}

.align-text{
    text-align: center;
}

.development-section-first{
    display: flex;
    justify-content: space-between;
    padding: 48px;
}

.section-width{
    width: 477px;
    height: 219px;
}

.learn-more-btn {
    border: 1px solid gray;
    width: 147px;
    padding: 10px;
    border-radius: 2px;
    background-color: white;
}